:root {
  --background-color: rgb(212, 212, 212);
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='light'] {
  --background-color: rgb(212, 212, 212);
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: rgb(212, 212, 212);
  --link-color: #828fff;
}

html{
  height:100%;
}

body {
  margin: 0;
  padding: 0;
  height:100%;
  background: var(--background-color);
  color: var(--text-color);
}

.fillscreen {
  position: absolute;
  top:0px;
  left: 0px;
  height:100%;
  width:100%
}

#editor-container {
  background:white;
  width:500px;
  height: 375px;
}

.info {
  background-color: cornflowerblue;
}

.success {
  background-color: chartreuse;
}

.error {
  background-color: darkorange;
}

.warn {
  background-color: lightcoral;
}

.slide_RIn{
  position: relative;
  right: 0px;
  transition: 0.5s;
}

.side_ROut{
  position: relative;
  right: -100%;
  transition: 2s;
}

#modals{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  /*background:none !important;*/
}

.modal{
  pointer-events: auto;
  /*background:none !important;*/
}

.modal_header button{
  background-color: aliceblue;
  border: 0px;
  padding: 0px 2px 0px 2px;
}

.modal_header button:hover{
  background-color: darkgray;
}

.modal_header {
  background-color: #212a2e;
  padding: 0px 2px 0px 2px;
  color: beige;
}

.modal_panel {
  background-color:  beige;
  color: #212a2e;
  width: 100%;
  height: 100%;
}

.slideBoard_RIn{
  position: relative;
  right: 0px;
  transition: 0.5s;
}

.sideBoard_ROut{
  position: relative;
  right: -100%;
  transition: 0.5s;
}

.slideBoard_LOut{
  position: relative;
  right: 100%;
  transition: 0.5s;
}

.leftSideBar_Out{
  /*position: relative;*/
  left: calc(100% * -1) !important;
  transition: 0.5s;
}

.leftSideBar_In{
  /*position: relative;*/
  left: 0 !important;
  transition: 0.5s;
}